In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

from twitpol import config, db

In [2]:
pd.set_option('display.max_columns', 999)

In [3]:
host = 'database-2.czpegg91dqsv.us-east-2.rds.amazonaws.com'
port = 3306
user = 'admin'
password = 'dbpass111'
charset = 'utf8'
database = 'test_2'

db_str = f'mysql+pymysql://{user}:{password}@{host}:{port}/'
engine = create_engine(db_str)
engine.connect().execute(f"CREATE DATABASE IF NOT EXISTS {database};")
db_str_new = db_str + database
engine_new = create_engine(db_str_new)

/home/ubuntu/miniconda3/envs/twitpol-env/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1007, "Can't create database 'test_2'; database exists")
  result = self._query(query)

In [4]:
df = pd.DataFrame({
    'name': ['A', 'B', 'C', 'D'],
    'age': [12, 13, 14, 15]
})
df

  name  age
0    A   12
1    B   13
2    C   14
3    D   15

In [5]:
df.to_sql('test_table', con=engine_new, if_exists='append')

In [6]:
pd.read_sql('SELECT * FROM test_table;', con=engine_new, index_col='index')

      name  age
index
0        A   12
1        B   13
2        C   14
3        D   15
0        A   12
1        B   13
2        C   14
3        D   15

In [7]:
engine = db.get_db_engine(create_database=False)

In [8]:
pd.read_sql(f'SELECT * FROM tweets WHERE name = "WARREN";', con=engine)

Empty DataFrame
Columns: [index, id, conversation_id, created_at, date, timezone, place, tweet, hashtags, cashtags, user_id, user_id_str, username, name, day, hour, link, retweet, nlikes, nreplies, nretweets, quote_url, search, near, geo, source, user_rt_id, user_rt, retweet_id, reply_to, retweet_date]
Index: []

In [9]:
pd.read_sql('SELECT COUNT(*) FROM tweets;', con=engine)

   COUNT(*)
0    114794

In [10]:
pd.read_sql('SELECT * FROM tweets;', con=engine).tail(10)

,index,id,conversation_id,created_at,date,timezone,place,tweet,hashtags,cashtags,user_id,user_id_str,username,name,day,hour,link,retweet,nlikes,nreplies,nretweets,quote_url,search,near,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date
114784,2725,1129900873344323584,1129888899466240002,1558224335000,2019-05-19 00:05:35,UTC,,@DNC @HouseDemocrats @SenateDems @TheDemocrats...,[],[],1108338618354094081,1108338618354094081,ThomasL15499308,HARRIS,4,21,https://twitter.com/ThomasL15499308/status/112...,0,0,0,0,,"Kamala Harris OR ""Kamala"" OR ""Senator Harris"" ...",,,,,,,"[{'user_id': '1108338618354094081', 'username'...",
114785,2726,1129900844709830656,1129897865944420353,1558224328000,2019-05-19 00:05:28,UTC,,You were correct. She has definitely paid atte...,[],[],37377065,37377065,ThunderHeadFan,HARRIS,4,19,https://twitter.com/ThunderHeadFan/status/1129...,0,0,0,0,,"Kamala Harris OR ""Kamala"" OR ""Senator Harris"" ...",,,,,,,"[{'user_id': '37377065', 'username': 'ThunderH...",
114786,2727,1129900689533145088,1129900689533145088,1558224291000,2019-05-19 00:04:51,UTC,,Kamala and Elizabeth can handle Bernie. https...,[],[],221047575,221047575,LucianaLamb,HARRIS,4,08,https://twitter.com/LucianaLamb/status/1129900...,0,8,1,0,https://twitter.com/PinaS1945/status/112989993...,"Kamala Harris OR ""Kamala"" OR ""Senator Harris"" ...",,,,,,,"[{'user_id': '221047575', 'username': 'Luciana...",
114787,2728,1129900485358641152,1129900485358641152,1558224242000,2019-05-19 00:04:02,UTC,,"It's time.\n\nAs things sit right now, my 3 to...",[],[],828212946,828212946,de_la_Nae,HARRIS,3,19,https://twitter.com/de_la_Nae/status/112990048...,0,1,1,0,,"Kamala Harris OR ""Kamala"" OR ""Senator Harris"" ...",,,,,,,"[{'user_id': '828212946', 'username': 'de_la_N...",
114788,2729,1129900475422248962,1129867088149876736,1558224240000,2019-05-19 00:04:00,UTC,,"This is San Francisco, Pelosi and Kamala Harri...",[],[],626642807,626642807,PatriziaLauren,HARRIS,3,18,https://twitter.com/PatriziaLauren/status/1129...,0,1,0,0,,"Kamala Harris OR ""Kamala"" OR ""Senator Harris"" ...",,,,,,,"[{'user_id': '626642807', 'username': 'Patrizi...",
114789,2730,1129900435148627968,1129900435148627968,1558224230000,2019-05-19 00:03:50,UTC,,New Dem women leaders don't abide with Nancy P...,[],[],813206201693569024,813206201693569024,J77mhcd,HARRIS,3,15,https://twitter.com/J77mhcd/status/11299004351...,0,0,0,0,,"Kamala Harris OR ""Kamala"" OR ""Senator Harris"" ...",,,,,,,"[{'user_id': '813206201693569024', 'username':...",
114790,2731,1129900165156884480,1129791583220588546,1558224166000,2019-05-19 00:02:46,UTC,,There couldn't be a better image of Kamala Har...,[],[],38333667,38333667,Tristanshouts,HARRIS,2,22,https://twitter.com/Tristanshouts/status/11299...,0,5,1,0,,"Kamala Harris OR ""Kamala"" OR ""Senator Harris"" ...",,,,,,,"[{'user_id': '38333667', 'username': 'Tristans...",
114791,2732,1129899955513102337,1129899955513102337,1558224116000,2019-05-19 00:01:56,UTC,,@MajorsMagers Karma or Kamala. On or the other...,[],[],1124464168856424449,1124464168856424449,joeygritz72,HARRIS,2,08,https://twitter.com/joeygritz72/status/1129899...,0,1,1,0,,"Kamala Harris OR ""Kamala"" OR ""Senator Harris"" ...",,,,,,,"[{'user_id': '1124464168856424449', 'username'...",
114792,2733,1129899790240747520,1129881386670624768,1558224077000,2019-05-19 00:01:17,UTC,,I don't think he understands what reparations ...,[],[],1098358252637696001,1098358252637696001,coledmarie,HARRIS,1,21,https://twitter.com/coledmarie/status/11298997...,0,100,14,19,,"Kamala Harris OR ""Kamala"" OR ""Senator Harris"" ...",,,,,,,"[{'user_id': '1098358252637696001', 'username'...",
114793,2734,1129899774096924672,1129876818805178368,1558224073000,2019-05-19 00:01:13,UTC,,I think he would pick a female first like Kama...,[],[],810096525816762368,810096525816762368,LittleEagle2000,HARRIS,1,20,https://twitter.com/LittleEagle2000/status/112...,0,1,1,0,,"Kamala Harris OR ""Kamala"" OR ""Senator Harris"" ...",,,,,,,"[{'user_id': '810096525816762368', 'username':...",